
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
}

#content img {
    width: 100%;
}

a {
    color: rgb(10, 120, 194);
    outline: medium none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0px 0px 11px;
}

img {
    border: medium none;
}

input {
    vertical-align: middle;
}

h2 {
    margin: 10px 0px;
    font-size: 19px;
}

h3 {
    margin: 2px 0px 10px;
    font-size: 18px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h4 {
    margin: 10px 0px 25px;
    font-size: 19px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    display: inline-block;
}

ul {
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

#wrapper {
    width: 960px;
    margin: 0px auto;
}

#header {
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
    background: #cce5ac; /* Old browsers */
    background: -moz-linear-gradient(top, #cce5ac 0%, #dceec6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cce5ac 0%,#dceec6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cce5ac 0%,#dceec6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce5ac', endColorstr='#dceec6',GradientType=0 ); /* IE6-9 */
}

#header a {
    position: relative;
    padding: 20px 40px;
    font-size: 50px;
    line-height: 1;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.pills{
    margin-right: 10px;
}


#header a span {
    font-size: 80px;
    margin-right: 25px;
}

#middle {
    width: 100%;
    position: relative;
}

#middle::after {
    content: "";
    clear: both;
    display: table;
}

#container {
    width: 100%;
    float: left;
    overflow: hidden;
}

#content {
    padding: 0px 270px 0px 0px;
}

#sideRight {
    float: left;
    width: 250px;
    margin-left: -250px;
    position: relative;
    margin-top: 20px;
}

#footer {
    height: 15px;
    background: rgb(250, 246, 221) none repeat scroll 0% 0%;
    margin-top: 25px;
    padding: 20px;
    font-size: 12px;
}

.footer-text {
    margin: 0px auto;
    text-align: left;
    width: 960px;
}

.vk_name {
    font: bold 11px/140% Tahoma, Arial;
    color: rgb(16, 99, 154);
}

.vk_text {
    font: 11px/130% Tahoma, Arial;
    color: rgb(0, 0, 0);
}

.vk_info {
    font: 9px Tahoma, Arial;
    color: rgb(119, 119, 119);
    margin-top: 3px;
}

.comment-container {
    width: 690px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
    clear: both;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.item {
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #fff;
}

.photo {
    float: left;
}

.photo img {
    display: block;
    border-radius: 15px;
}

.area {
    float: right;
    width: 610px;
}

.name {
    border: 1px solid rgb(231, 229, 222);
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    padding: 0pt 11px;
}

.name span {
    color: rgb(185, 0, 0);
    display: block;
    line-height: 20px;
}

.item .time {
    float: right;
    color: rgb(170, 170, 170);
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    background: transparent url("clock000.gif") no-repeat scroll 0pt 50%;
    padding: 0pt 0pt 0pt 20px;
}

.comment {
    border-style: solid;
    border-color: rgb(231, 229, 222);
    padding: 5px 0pt 6px 11px;
    border-width: 0pt 1px 1px;
    background: white none repeat scroll 0% 0%;
}

.comment p {
    margin: 0pt;
    font-size: 12px;
    padding: 5px;
}

.comment img {
    display: block;
    margin-top: 15px;
}

.paging {
    margin-left: 262px;
    padding: 0pt;
    list-style: outside none none;
    display: inline-block;
}

.paging li {
    float: left;
    line-height: 16px;
    margin-right: 6px;
}

.paging a {
    float: left;
    color: rgb(8, 134, 38);
    text-decoration: underline;
}

.paging a:hover {
    text-decoration: none;
}

.paging .prev a,
.paging .next a {

    width: 22px;
    height: 22px;
    text-indent: -9999em;
    overflow: hidden;
}



.paging .active a {
    color: rgb(181, 178, 170);
    text-decoration: none;
}

input.comment-name-email {
    width: 35%;
    height: 23px;
    font-size: 13px;
    font-family: Helvetica;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(241, 241, 241);
}

.comment-form {
    background: whiteSmoke none repeat scroll 0% 0%;
    padding: 15px;
    border-radius: 8px;
}

textarea#comment {
    width: 95%;
}

textarea.comment-textarea {
    width: 95%;
    height: 110px;
    font-size: 13px;
    font-family: Helvetica;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(241, 241, 241);
}

textarea.comment-textarea:focus {
    outline: medium none ! important;
}

.styled-outline {
    outline: 0px none ! important;
    border: 1px solid rgb(204, 204, 204) ! important;
    border-radius: 6px ! important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s ! important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset ! important;
}

.styled-outline:focus {
    outline: 0px none ! important;
    border-color: rgba(79, 190, 226, 0.8) ! important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px rgba(79, 190, 226, 0.6) ! important;
}

button.leave-comment-button {
    background: transparent linear-gradient(to bottom, white 0%, rgb(229, 229, 229) 100%) repeat scroll 0% 0%;
    border: 1px solid rgb(199, 199, 199);
    height: 36px;
    width: 184px;
    cursor: pointer;
    box-shadow: 0px 1px 1px white inset, 0px 1px 0px white;
    border-radius: 5px;
    color: rgb(112, 112, 112);
    text-shadow: 1px 1px 0px white;
    font-size: 12px;
}

button.leave-comment-button:hover {
    box-shadow: 0px 1px 1px rgb(221, 221, 221) inset;
    background: rgb(233, 233, 233) none repeat scroll 0% 0%;
}

.calendar {
    width: 250px;
    color: rgb(0, 0, 0);
}

.malahov-block {
    background: transparent url("malahov.jpg") no-repeat scroll 0% 0% / 50px 50px;
    padding-left: 65px;
    min-height: 60px;
    margin: 5px 0px;
}

.devushka-block {
    background: transparent url("devushka.jpg") no-repeat scroll 0% 0% / 50px 50px;
    padding-left: 65px;
    min-height: 60px;
    margin: 5px 0px;
}

.devushka-block img,
.malahov-block img {
    height: auto;
}

.project {

    width: 270px;
    height: 370px;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix::after {
    clear: both;
}

.center {
    text-align: center;
}

.blue-btn {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    background: transparent url("blue-btn.jpg") repeat-x scroll 0px 0px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-family: "proxima_nova_rgbold";
    font-size: 22px;
    letter-spacing: 0.5px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgb(22, 78, 207);
    padding: 10px 15px;
    box-shadow: 1px 1px 2px grey;
}

.comments_fb {
    width: 49%;
    display: inline-block;
    font: bold 11px/140% Tahoma, Arial;
    color: rgb(16, 99, 154);
    vertical-align: middle;
    text-align: left;
}

.fb_comm {
    background: #d8e3e9;
}

.fb_ico {
    width: 40%;
    display: inline-block;
    text-align: right;
}

.fb_ico img {
    width: 17px;
    vertical-align: middle;
}

.blue-btn:hover {
    box-shadow: 3px 3px 4px grey;
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
}

.msg {
    position: absolute;
    width: 620px;
    height: 250px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgb(20, 143, 185) none repeat scroll 0% 0%;
    border: 1px solid rgb(238, 238, 238);
    font-family: Arial, Tahoma, sans-serif;
}

.msg h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.msg h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.submit {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    background-color: firebrick;
    color: rgb(255, 255, 255);
    font-size: 28px;
    border-radius: 3px;
}

.fig {
    text-align: center;
}

.mob {
    display: none;
}

@media screen and (max-width: 1280px) {
    body {
        width: unset;
        max-width: 980px;
        min-width: 300px;
        margin: 0px auto;
    }
    #wrapper {
        width: unset;
        max-width: 960px;
        min-width: 300px;
        padding: 0 10px
    }
    #footer {
        max-width: 960px;
        min-width: 300px;
        padding: 20px 10px;
    }
    .footer-text {
        margin: 0px auto;
        text-align: left;
        width: unset;
        max-width: 960px;
        min-width: 300px;
    }
    .project {

        width: 100%;
        background-size: contain;
    }
}

@media screen and (max-width: 990px) {
    #container {
        width: 75%;
        float: left;
        overflow: hidden;
    }
    #content {
        padding: 0px;
        padding-right: 5%;
        width: 95%;
    }
    #sideRight {
        width: 25%;
        float: left;
        margin-left: 0px;
    }
    #content img {
        width: 80%;
    }
}

@media screen and (max-width: 980px) {
    body {
        max-width: 960px;
    }
    #wrapper {
        max-width: 940px;
    }
    #footer {
        max-width: 940px;
    }
    .footer-text {
        max-width: 940px;
    }
    #header {
        width: 100%;
        height: unset;
        background: #cce5ac; /* Old browsers */
    background: -moz-linear-gradient(top, #cce5ac 0%, #dceec6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cce5ac 0%,#dceec6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cce5ac 0%,#dceec6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce5ac', endColorstr='#dceec6',GradientType=0 ); /* IE6-9 */
        text-align: center;
    }
    #header a:after{
        right: 222px;
    }
}

@media screen and (max-width: 960px) {
    #wrapper {
        max-width: 100%;
    }
    #container {
        width: 70%;
        float: left;
        overflow: hidden;
    }
    #sideRight {
        width: 30%;
        float: left;
        margin-left: 0px;
    }
}

@media screen and (max-width: 800px) {

    #sideRight {
        display: none;
    }
    #container {
        width: 100%;
    }
    #content {
        padding: 0 5%;
        width: 90%
    }


     .mob img {
        width: 100%;
     }

    #content img {
        width: 100%;
    }
}

@media(max-width: 730px) {
    .comment-container {
        width: 100%;
    }
    .photo {
        width: 10%;
    }
    .photo img {
        width: 100% !important;
    }
    .area {
        width: 89%;
    }
    .comment img {
        width: 90%
    }
}

@media(max-width: 700px) {
    .msg {
        width: 300px;
        margin-left: -150px;
        height: 325px;
    }
    .submit {
        margin-top: 10px;
        height: 50px;
        width: 279px;
        background-color: firebrick;
        color: rgb(255, 255, 255);
        font-size: 20px;
        border-radius: 3px;
    }
    .msg h1 {
        margin-top: 45px;
    }
}
@media all and (max-width: 606px) {
    #header a:after {
        right: 183px;
    }
}
@media all and (max-width: 578px) {
    .pills{
        display: none;
    }
    #header a{
        padding: 0;
    }
    #header a span{
        margin: 0;
    }
}
@media(max-width: 551px) {
    .blue-btn {
        font-size: 20px;
        margin: 29px 0px 0px;
        width: 90%;
        padding: 10px;
    }
    .paging {
        margin-left: 100px;
    }

    .blue-btn {
        font-size: 14px;

    }
    #header a:after {
    right: 0;
    }
}

@media(max-width: 410px) {

    .comment p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    #header a span{
        margin: 0;
    }
    #header a:after {
        right: -12px;
    }
}


@media(max-width: 380px) {
    #header a {
        padding: 20px 30px 20px 0px;
    }

    #header a:after {
        right: 0;
    }
    body {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }
    #wrapper {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }
    #middle {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }
    #container {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }
    #content {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }
}