html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: outside none none;
}
a {
  outline: medium none;
}
.burg{
  display: none;
}
body {
  background: rgb(0, 0, 0) url("main_bg.jpg") no-repeat scroll center top;
  font-family: "Open Sans", sans-serif;
}
.cont_img{
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.cont_img span{
    position: absolute;
    left: 135px;
    bottom: 28px;
    font-size: 25px
}
a {
  text-decoration: none;
  color: red;
}
.manual {
	position: relative;
	display: block;
  margin: 30px auto;
  text-align: center;
}
.manual span{
	position: absolute;
	font-size: 12px;
}
.text1{
	left: 20%;
	top: 4px;
}
.text2{
	right: 35%;
  top: 4px;
}
.text3{
	  left: 27%;
    top: 24%;
    width: 20px;
}
.text4{
		right: 39%;
    top: 19%;
    width: 20px;
}
.text5{
		right: 20%;
    width: 45px;
    top: 10%;
}
.text6{
		right: 17.5%;
    top: 45%;
}
.text7{
		width: 20px;
    top: 50%;
    right: 24.5%;
}

.before_after{
		position: relative;
		text-align: center;
	  display: block;
    margin: 22px auto;
}
.before{
		position: absolute;
    color: #0057cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    left: 173px;
    bottom: 10px;
}
.after{
		position: absolute;
    color: #0057cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    right: 173px;
    bottom: 10px;
}
.first_img{
	position: relative;
}
.first_img:before{
	  content: '';
    background: url("doc.png");
    position: absolute;
    right: 7px;
    top: -23px;
    width: 467px;
    z-index: 1;
    background-size: cover;
    height: 275px;
}
.first_img:after{
	    content: '';
    background: url("shadow.png");
    position: absolute;
    right: -7px;
    bottom: -14px;
    width: 615px;
    height: 17px;
}
.doc_name{
	  font-size: 35px;
    color: #36336c;
    font-weight: bold;
    text-align: center;
    background: #fff;
    line-height: 60px;
    margin-top: -3px;
}
.page-wrap {
  width: 960px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  margin: 0px auto;
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  min-height: 1000px;
}
.content {
  overflow: hidden;
  min-height: 700px;
  position: relative;
}
.tv-content {
  background: rgb(32, 32, 32) none repeat scroll 0% 0%;
}
.header {
  position: relative;
}
.b-logo {
  position: absolute;
  z-index: 999;
  background: #fff url("logo-color.png") no-repeat center;
  width: 190px;
  height: 80px;
  top: 10px;
  left: 0px;
  text-indent: -9000px;
  background-size: contain;
}
.b-header-tvp-wrap {
  height: 10px;
  overflow: hidden;
}
.b-header-air {
  float: left;
  position: relative;
  min-width: 260px;
  max-width: 640px;
  height: 10px;
  background: rgb(159, 0, 0) none repeat scroll 0% 0%;
  overflow: hidden;
}
.b-header-tvp {
  background: rgb(32, 32, 32) none repeat scroll 0% 0%;
  max-width: 854px;
  min-width: 640px;
  height: 10px;
  overflow: hidden;
  position: relative;
}
.b-header-tvp::after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(32, 32, 32) none repeat scroll 0% 0%;
  width: 80px;
  height: 80px;
  right: 0px;
  top: 0px;
  z-index: 2;
}
.b-header-nav {
  min-height: 80px;
  position: relative;
  z-index: 10;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
}
.b-header-nav__main-nav {
  margin-left: 200px;
}
.b-header-nav__main-nav li {
  height: 80px;
  line-height: 80px;
  padding: 0px 13px;
  float: left;
}
.b-header-nav__main-nav li span {
  font: 600 14px "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}
.b-header-nav__main-nav li.active {
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  position: relative;
}
.b-header-nav__main-nav li.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background: rgb(159, 0, 0) none repeat scroll 0% 0%;
  left: -1px;
  bottom: 0px;
  border-left: 1px solid rgb(159, 0, 0);
  border-right: 1px solid rgb(159, 0, 0);
}
.b-header-nav__main-nav li.active a {
  color: rgb(159, 0, 0);
}
.b-header-nav__search-link {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0px;
  top: 0px;
  border-left: 1px solid rgb(230, 230, 230);
  cursor: pointer;
}
.b-header__search {
  height: 158px;
  position: absolute;
  top: 81px;
  left: 0px;
  width: 100%;
  z-index: 999999;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  display: none;
}
.b-header__search-var {
  width: 384px;
  float: right;
  padding: 0px 28px 0px 14px;
}
.b-header__search-var h4 {
  font-size: 13px;
  font-weight: 600;
  color: rgb(91, 91, 91);
  text-transform: uppercase;
  padding: 20px 0px 26px;
}
.b-header__search__query {
  display: block;
  height: 40px;
  border: 1px solid rgb(242, 242, 242);
  padding: 0px 22px;
  color: rgb(127, 127, 127);
  box-shadow: 4px 4px 4px rgb(242, 242, 242) inset;
  font-size: 14px;
  width: 336px;
}
.b-footer-nav {
  padding: 30px 0px;
  overflow: hidden;
}
.b-footer-nav>li {
  width: 173px;
  padding: 0px 20px;
  float: left;
}
.b-footer-nav h3 {
  padding-bottom: 10px;
}
.b-footer-nav h3 a {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.b-footer-nav__sub-menu li a {
  font-size: 11px;
  color: rgb(102, 102, 102);
  line-height: 20px;
}
.b-footer-data {
  padding: 20px;
  background: rgb(32, 32, 32) none repeat scroll 0% 0%;
}
.b-footer-data__des-author {
  float: right;
  width: 200px;
  font-size: 13px;
  color: rgb(204, 204, 204);
}
.b-footer-data__newidols {
  padding-left: 20px;
  color: rgb(255, 51, 51);
}
.b-footer-data__cp {
  font-size: 13px;
  color: rgb(204, 204, 204);
  padding-bottom: 15px;
  width: 540px;
}
.b-footer-data__info {
  width: 540px;
  font-size: 11px;
  color: rgb(153, 153, 153);
}
.b-image-wrap {
  display: block;
  position: relative;
}
.b-image-wrap img {
  display: block;
  width: 100%;
}
.b-tv-category {
  padding: 18px 20px 0px;
}
.b-tv-category a {
  color: rgb(255, 51, 51);
  font-size: 11px;
  text-transform: uppercase;
}
.b-content-footer-link {
  height: 75px;
  line-height: 75px;
  display: block;
  padding: 0px 20px;
  font-size: 20px;
  clear: left;
}
.b-content-footer-link_tv {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  clear: none;
}
.b-tv-row {
  display: inline-block;
  border-bottom: 1px solid rgb(46, 46, 46);
}
.b-tv-item__info {
  height: 92px;
  background: rgb(32, 32, 32) none repeat scroll 0% 0%;
  overflow: hidden;
}
.b-tv-item__date-wrap {
  float: right;
  padding: 18px;
}
.tv-time {
  font-size: 24px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.tv-date {
  font-size: 11px;
  line-height: 18px;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
}
.tv-age {
  padding-left: 10px;
  font-size: 12px;
  color: rgb(102, 102, 102);
  vertical-align: top;
}
.b-tv-item__title {
  padding: 7px 20px;
}
.b-tv-item__title a {
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.b-tv-item__subtitle {
  padding-left: 20px;
  font-size: 13px;
  color: rgb(153, 153, 153);
}
.b-tv-item__info_current {
  background: rgb(159, 0, 0) none repeat scroll 0% 0%;
  position: relative;
  height: 80px;
  overflow: hidden;
}
.b-tv-item__info_current .b-tv-item__date-wrap {
  display: block;
  position: absolute;
  width: 81px;
  height: 80px;
  right: 0px;
  top: 0px;
  box-shadow: -5px 0px 8px rgb(145, 3, 3);
  padding: 0px;
}
.b-tv-item__info_current .b-tv-category {
  padding-top: 10px;
}
.b-tv-item__info_current .b-tv-category a {
  color: rgb(255, 153, 153);
}
.b-tv-item__info_current .b-tv-item__title {
  padding: 5px 20px;
}
.b-tv-item__info_current .b-tv-item__subtitle, .b-tv-item__info_current .tv-age {
  color: rgb(255, 153, 153);
}
.b-tv-item_small {
  width: 213px;
  float: left;
}
.b-tv-item_small .b-tv-item__info {
  height: 122px;
}
.b-tv-item_small .b-tv-item__date-wrap {
  float: none;
  overflow: hidden;
  padding: 20px 20px 0px;
}
.b-tv-item_small .tv-date {
  padding-top: 6px;
  float: right;
}
.b-tv-item_small .tv-time {
  float: left;
}
.b-tv-item_small .b-tv-category {
  padding-top: 5px;
}
.b-tv-item_small .b-tv-item__title a {
  font-size: 15px;
}
.b-tv-item_small .tv-age {
  vertical-align: middle;
}
.num {
  color: rgb(237, 48, 48);
}
.b-article__text b, .b-article__text strong, .b-brand__content b, .b-brand__content strong, .b-brand-info__about strong, .b-brand-info__about b {
  font-weight: bold;
}
.b-article__addon-title {
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding: 50px 20px 20px;
}
.b-brand__title {
  height: 80px;
  padding: 0px 20px;
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 100px;
  background: rgb(21, 21, 21) none repeat scroll 0% 0%;
}
.b-brand-info {
  overflow: hidden;
  min-height: 658px;
  width: 100%;
}
.b-brand-info_column {
  float: left;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
.b-brand-info_size-third {
  min-width: 260px;
  max-width: 260px;
}
.b-brand-info_size-third:last-child {
  min-width: 260px;
  max-width: 260px;
}
.b-brand-info_size-third.b-brand-info__photo {
  max-width: 260px;
}
.b-brand-info__about {
  background: rgb(248, 248, 248) none repeat scroll 0% 0%;
}
.b-brand-info__photo {
  background: rgb(47, 47, 47) none repeat scroll 0% 0%;
}
.b-brand-info h3 {
  padding: 35px 20px 20px;
  font-size: 24px;
  font-weight: 600;
}
.b-brand-info__photo h3 {
  color: rgb(255, 255, 255);
}
.b-brand-info__about p {
  font-size: 15px;
  color: rgb(48, 48, 48);
  line-height: 21px;
  padding: 0px 20px 20px;
}
.b-brand-info__about__body-hidden {
  display: none;
}
.b-brand-info__block-footer {
  padding-left: 20px;
  display: block;
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  color: rgb(142, 142, 142);
}
.b-brand-info__photo__list {
  padding-left: 25px;
  overflow: hidden;
}
.b-brand-info__photo__list li {
  width: 94px;
  margin: 10px 10px 0px 0px;
  float: left;
}
.b-brand-info__photo__list li img {
  width: 100%;
}
.b-brand-info__photo .b-brand-info__block-footer {
  color: rgb(255, 255, 255);
}
.b-brand-footer {
  clear: left;
}
.b-brand-footer .b-tv-item_current {
  float: left;
  width: 428px;
}
.b-brand-footer .b-content-footer-link_tv {
  float: left;
  width: 812px;
  height: 66px;
  line-height: 66px;
  font-size: 24px;
  background-position: right -375px;
}

.b-brand__title_hidden {
  text-indent: -9000px;
  position: absolute;
}
.b-brand-menu {
  height: 24px;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
  padding: 0px 0px 0px 20px;
  width: 100%;
  overflow: hidden;
}
.b-brand-menu .tv-age {
  float: right;
  color: rgb(255, 255, 255);
}
.b-brand-menu__item {
  line-height: 24px;
  padding-right: 40px;
  float: left;
}
.b-brand-menu__item a {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.b-brand-menu li.active a {
  color: rgb(255, 48, 48);
}
.b-brand-header__aside {
  float: right;
}
.b-brand-header__aside_topped {}
.b-brand-header__aside .b-brand-info__about {
  width: 260px;
  height: 300px;
  overflow: hidden;
}
.b-brand-header__aside .b-brand-info__about h3 {
  padding: 35px 20px 20px;
  font-size: 24px;
  font-weight: 600;
}
.b-brand-header__aside .b-brand-info__about_small, .b-brand-header__aside .b-brand-info__news_small {
  width: 260px;
  height: 180px;
  background: rgb(223, 223, 223) none repeat scroll 0% 0%;
  border-top: 1px solid rgb(174, 174, 174);
  padding-right: 10px;
  box-sizing: border-box;
}
.b-brand-header__aside .b-brand-info__about_small, .b-brand-header__aside .b-brand-info__news_small:first-child {
  width: 260px;
  height: 179px;
  background: rgb(223, 223, 223) none repeat scroll 0% 0%;
  border-top: medium none;
}
.b-brand-header__aside .b-brand-info__about_small h3, .b-brand-header__aside .b-brand-info__news_small h3, .b-brand-header__aside .b-brand-info__about_big h3 {
  font-size: 16px;
  padding: 20px 20px 15px;
  font-weight: 600;
}
.b-brand-header__aside .b-brand-info__about_small p {
  height: 44px;
  overflow: hidden;
  color: rgb(142, 142, 142);
}
.b-brand-header__aside .b-brand-info__about_small .b-brand-info__block-footer, .b-brand-header__aside .b-brand-info__news_small .b-brand-info__block-footer, .b-brand-header__aside .b-brand-info__about_big .b-brand-info__block-footer {}
.b-brand-info__news_small ul {
  margin-left: 35px;
  list-style-type: disc;
}
.b-brand-info__news_small ul li {
  padding: 0px 0px 10px;
  color: rgb(142, 142, 142);
}
.b-brand-episode__content {
  float: left;
  width: 700px;
  position: relative;
}
.b-brand__content {
  overflow: hidden;
  float: left;
  width: 700px;
}
.b-brand__aside {
  float: left;
  z-index: 10;
  position: relative;
  width: 260px;
}
.b-brand__content .b-brand-episode__content {
  float: none;
  overflow: hidden;
}
.datepicker::after {
  display: block;
  position: absolute;
  top: 0px;
  left: 180px;
  z-index: 2147483647;
  content: "";
  width: 54px;
  height: 20px;
}
.b-brand-episode__content h5 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  padding: 30px;
}
.b-brand-episode__content p {
  color: rgb(68, 68, 68);
  font-size: 16px;
  padding: 5px 30px;
  line-height: 20px;
}
.b-brand-episode__content p b {
  color: rgb(0, 0, 0);
}
.b-brand__content {
  background-color: rgb(204, 204, 204);
}
.b-brand-episode__content {
  box-shadow: 0px 0px 4px rgb(0, 0, 0) inset;
  border: 1px solid rgb(136, 136, 136);
}
.b-brand-episode__content p a {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
.b-brand-episode__content p a:hover {
  color: rgb(0, 0, 255);
  text-decoration: none;
}
.comments {
  padding: 0px 10px 10px;
}
.comments .note {
  font-size: 11px;
  margin-top: 3px;
  text-align: left;
}
.comments textarea {
  height: 115px;
  margin-top: 10px;
  padding: 5px;
  width: 640px;
}
.comments input {
  margin-top: 10px;
  padding: 5px;
  width: 640px;
}
input, textarea, select {
  border: 1px solid rgb(0, 179, 208);
  font-family: Arial;
  font-size: 12px;
  resize: none;
}
.comments .item {
  border: medium none;
  position: relative;
  display: table;
}
.comments .rate {
  float: right;
}
.comments .rate a {
  color: rgb(153, 153, 153);
}
.comments .item .text {
  border-bottom: 1px dotted rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  display: block;
  font-size: 14px !important;
  line-height: 20px !important;
  margin-left: 45px;
  min-height: 50px;
  max-width: 590px;
  vertical-align: top;
  padding: 8px 0px 4px 14px;
}
.comments .solid-orange {
  border-bottom: 1px solid rgb(102, 102, 102);
}
.comments .pic {
  background: transparent none repeat scroll 0% 0%;
  height: 42px;
  padding: 2px;
  width: 42px;
  vertical-align: baseline;
}
.comments span {
  line-height: 20px;
}
.item .pic {
  float: left;
  margin: 8px 0px 4px;
}
.comments .text .author {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.comments .text .date {
  color: rgb(119, 119, 119);
}
@media screen and (max-width:980px) {
  .page-wrap {
    width: 800px;
  }
  .b-brand__content {
    width: 100%;
  }
  .b-brand__content .b-brand-episode__content {
    width: 100%;
  }
  .b-brand-header__aside_topped{
  	display: none;
  }
	.first_img:before{
		top: 11px;
	}
	.after{
		right: 222px;
	}
	.before{
		left: 225px;
	}
}
.dialog {
  padding-left: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  clear: both;
}
.dialog .img {
  margin-left: -30px;
  float: left;
  margin-top: 10px;
  width: 42px;
}
.em {
  font-style: italic;
  color: rgb(85, 85, 85);
}
.ord_button {
  background: linear-gradient(to bottom, #B06166, #B01A1C);
  background: -webkit-linear-gradient(to bottom, #B06166, #B01A1C);
  color: #ffffff;
  display: inline-block;
  padding: 10px 30px;
  font-size: 25px;
  box-shadow: 2px 3px 8px #999999;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #B01418;
  margin: 20px 0px 30px;
  line-height: 27px;
}
.ord_button:hover {
  background: linear-gradient(to top, #B06166, #B01A1C);
  background: -webkit-linear-gradient(to top, #B06166, #B01A1C);
  box-shadow: 2px 3px 3px #999999;
  text-decoration: none;
}
.doctor_img {
  width: 70%;
}
.product-name {
  font-weight: bold;
  color: #f00;
}
.avatar {
  width: 48px;
}
.side-link {
  color: #000;
  text-decoration: underline;
}
.side-link:hover {
  color: rgb(255, 0, 0);
}
.veins {
  width: 70%;
}
.b-header-nav__main-nav li a {
  color: inherit;
  text-decoration: none;
}
.avatar, .author, .img {
  cursor: pointer;
}
@media screen and (max-width:820px) {
  .page-wrap {
    width: 600px;
  }
  .b-header-nav{
    display: none;
  }
  .b-brand-menu__item{
    display: none;
  }
  .b-brand-menu{
    padding: 0;
  }
  .burg{
    display: block;
    width: 24px;
    margin: 0 auto;
  }
  .manual {
  	display: none;
  }
	.first_img:before{
		top: -18px;
		width: 393px;
		height: 234px;
	}
	.before {
    left: 164px;
}
.after {
    right: 164px;
}
  .b-logo {
    display: block;
    position: static;
    margin: 0 auto;
  }
  .b-header-nav__main-nav {
    margin-left: 0;
  }
  .first_img:after {
    content: '';
    background: url("shadow.png");
    position: absolute;
    right: 118px;
    bottom: -9px;
    width: 410px;
    height: 17px;
    background-repeat: no-repeat;
}
}
@media screen and (max-width:620px) {
  .page-wrap {
    width: 480px;
  }
  .first_img:after{
  	display: none;
  }
  .after {
    right: 124px;
}
.cont_img span{
  left: 102px;
    bottom: 19px;
}
.before {
    left: 124px;
}
  .b-header-nav__main-nav li.active {
    border-right: none;
  }
  .b-header-nav__search-link {
    border-left: none;
  }
  .first_img:before {
    top: -7px;
    width: 303px;
    height: 179px;
}
}
@media screen and (max-width:490px) {
  .page-wrap {
    width: 320px;
  }
  .cont_img span {
    left: 24px;
    bottom: 18px;
    font-size: 18px;
}
  .b-header-nav__main-nav li {
    height: 30px;
    line-height: 30px;
    display: block;
    float: none;
    text-align: center;
  }
  .dialog p{
    margin-left: 10px;  
  }
  .product{
    width: 280px;
  }
  .before {
    left: 42px;
    font-size: 15px;
	}
	.after {
    right: 33px;
    font-size: 15px;
	}
  .first_img:before {
    top: 1px;
    width: 192px;
    height: 114px;
}
  .b-header-nav__main-nav {
    margin-top: 0px;
  }
  .b-header-nav__main-nav li.active::after {
    height: 30px;
    width: 6px;
    top: 0px;
  }
  .b-brand-menu {
    height: auto;
  }
  .b-brand-header__aside {
    float: none;
  }

  .b-brand-header__aside {
    padding-top: 200px;
  }
  .b-brand-header__aside .b-brand-info__about_small, .b-brand-header__aside .b-brand-info__news_small {
    margin: 0 auto;
  }
  .b-brand-episode__content h5{
    padding: 30px 10px;
  }
  .b-brand-episode__content p{
    padding: 10px 10px;
  }
  .dialog{
    padding-left: 40px;
  }
  .content{
    padding: 0 5px;
  }
  .doctor_img{
    width: 95%;
  }
  .veins{
    width: 95%;
  }
}
img {
  max-width: 100%;
}